@import url("https://fonts.googleapis.com/css?family=Revalia");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181743;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 500;
}

header .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
  box-shadow: 0px 0px 10px grey;
}

header .menu__item {
  position: absolute;
  font-size: 3em;
  color: #181743;
  bottom: 40px;
  left: 40px;
}

header .submenu {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: aliceblue;
  right: -400px;
  top: -400px;
  transition: all .3s;
}

header .submenu__item {
  position: absolute;
  font-size: 3em;
  cursor: pointer;
  text-decoration: none;
  bottom: 75px;
  left: 75px;
  color: crimson;
}

header .submenu__item:nth-child(1) {
  color: #181743;
  bottom: 140px;
  left: 40px;
}

header .submenu__item:nth-child(3) {
  color: #181743;
  bottom: 30px;
  left: 130px;
}

header .vida {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 400px;
  height: 20px;
  background-color: crimson;
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}

header .vida p {
  position: absolute;
  right: -1px;
  width: 0px;
  height: 20px;
  border-radius: 10px;
  background-color: #181743;
}

header .puntos {
  position: absolute;
  width: 20vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 40vw;
  top: 0vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header .puntos p {
  color: aliceblue;
  text-align: center;
  font-size: 3em;
  padding-top: .1em;
  font-family: 'Revalia', cursive;
}

.grande {
  -webkit-animation: 1s agrandar 1;
  animation: 1s agrandar 1;
}

.ayuda {
  position: absolute;
  left: 47vw;
  font-size: 10em;
  color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  -webkit-animation: 2s agrandar infinite,10s flechas 1;
  animation: 2s agrandar infinite,10s flechas 1;
}

.arriba {
  top: 10vh;
}

.abajo {
  bottom: 10vh;
}

.contenedor {
  width: 200vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
}

.contenedor__planeta {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
}

.contenedor__planeta__item {
  position: absolute;
  width: 250px;
  height: 250px;
}

.contenedor__planeta__item .planeta {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
}

.contenedor__planeta__item .planeta:before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  border-radius: 100%;
}

.contenedor__planeta__item .brillo {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.contenedor__planeta__item .aro {
  position: absolute;
  border-radius: 100%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  z-index: 20;
}

.contenedor__planeta__item .aro-tra {
  position: absolute;
  z-index: -10;
  border-radius: 100%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.contenedor__planeta .item1 {
  top: calc(50vh - 125px);
  left: 5vw;
}

.contenedor__planeta .item1 .planeta {
  width: 160px;
  height: 160px;
  background: linear-gradient(150deg, #f9026d, #730F8E, transparent);
}

.contenedor__planeta .item1 .planeta:before {
  width: 135px;
  height: 110px;
  top: 7px;
  left: 2px;
  background: linear-gradient(white, transparent 15%);
}

.contenedor__planeta .item1 .brillo {
  width: 200px;
  height: 200px;
  left: -20px;
  top: -20px;
  background: linear-gradient(150deg, rgba(249, 2, 109, 0.5) 0%, transparent 50%);
}

.contenedor__planeta .item1 .aro, .contenedor__planeta .item1 .aro-tra {
  width: 220px;
  height: 40px;
  border: 10px solid #f9026d;
  left: -33px;
  top: 60px;
}

.contenedor__planeta .item1 .aro {
  border-top: 10px solid transparent;
}

.contenedor__planeta .item2 {
  top: calc(70vh - 125px);
  left: 45vw;
}

.contenedor__planeta .item2 .planeta {
  width: 250px;
  height: 250px;
  background: linear-gradient(150deg, #872341, #F05941 5%, #2F1B41 30%, #872341 50%, #F05941 70%, #2F1B41 85%);
}

.contenedor__planeta .item2 .planeta:before {
  width: 210px;
  height: 180px;
  top: 8px;
  left: 5px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), transparent 25%);
}

.contenedor__planeta .item2 .brillo {
  width: 300px;
  height: 300px;
  left: -25px;
  top: -25px;
  background: linear-gradient(150deg, rgba(190, 49, 68, 0.4) 0%, transparent 60%);
}

.contenedor__planeta .item2 .aro, .contenedor__planeta .item2 .aro-tra {
  width: 320px;
  height: 40px;
  border: 20px solid #872341;
  left: -43px;
  top: 100px;
}

.contenedor__planeta .item2 .aro {
  border-top: 20px solid transparent;
}

.contenedor__planeta .item3 {
  top: calc(30vh - 125px);
  left: 70vw;
}

.contenedor__planeta .item3 .planeta {
  width: 100px;
  height: 100px;
  background: linear-gradient(150deg, #82C7EB, #8EA1F0, #F5FAC8, #A5F0E4);
}

.contenedor__planeta .item3 .planeta:before {
  width: 80px;
  height: 50px;
  top: 5px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent 25%);
}

.contenedor__planeta .item3 .brillo {
  width: 120px;
  height: 120px;
  left: -10px;
  top: -10px;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.4) 0%, transparent 60%);
}

.contenedor__planeta .item3 .aro, .contenedor__planeta .item3 .aro-tra {
  width: 120px;
  height: 40px;
  border: 5px solid white;
  left: -10px;
  top: 35px;
}

.contenedor__planeta .item3 .aro {
  border-top: 5px solid transparent;
}

.contenedor__planeta .item4 {
  top: calc(40vh - 125px);
  left: 35vw;
}

.contenedor__planeta .item4 .planeta {
  width: 130px;
  height: 130px;
  background: linear-gradient(150deg, #EACEB4, #F2E9D0, #E79E85, #BB5A5A);
}

.contenedor__planeta .item4 .planeta:before {
  width: 100px;
  height: 70px;
  top: 5px;
  left: 3px;
  background: linear-gradient(white, transparent 25%);
}

.contenedor__planeta .item4 .brillo {
  width: 150px;
  height: 150px;
  left: -10px;
  top: -10px;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.8) 0%, transparent 50%);
}

.contenedor__planeta .item4 .aro, .contenedor__planeta .item4 .aro-tra {
  width: 150px;
  height: 40px;
  border: 10px solid #FEA096;
  left: -15px;
  top: 45px;
}

.contenedor__planeta .item4 .aro {
  border-top: 10px solid transparent;
}

.contenedor__planeta .item5 {
  top: 70vh;
  left: 15vw;
}

.contenedor__planeta .item5 .planeta {
  width: 130px;
  height: 130px;
  background: linear-gradient(150deg, #F68686, #7B77FF, #FFE3B9, #92CCE1);
}

.contenedor__planeta .item5 .brillo {
  width: 150px;
  height: 150px;
  left: -10px;
  top: -10px;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.4) 0%, transparent 50%);
}

.contenedor__planeta .item5 .aro, .contenedor__planeta .item5 .aro-tra {
  width: 150px;
  height: 40px;
  border: 10px solid #D3F6D1;
  left: -15px;
  top: 45px;
}

.contenedor__planeta .item5 .aro {
  border-top: 10px solid transparent;
}

.contenedor__planeta .item6 {
  top: 40vh;
  left: 85vw;
}

.contenedor__planeta .item6 .planeta {
  width: 170px;
  height: 170px;
  background: linear-gradient(150deg, #F03861, #FEF2F2, #7D5E3F, #FEF2F2);
}

.contenedor__planeta .item6 .brillo {
  width: 200px;
  height: 200px;
  left: -15px;
  top: -15px;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.4) 0%, transparent 50%);
}

.contenedor__planeta .item6 .aro, .contenedor__planeta .item6 .aro-tra {
  width: 200px;
  height: 40px;
  border: 10px solid #F3CD97;
  left: -15px;
  top: 65px;
}

.contenedor__planeta .item6 .aro {
  border-top: 10px solid transparent;
}

.contenedor__planeta:nth-child(1) {
  -webkit-animation: plane1 40s infinite linear;
  animation: plane1 40s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.contenedor__planeta:nth-child(2) {
  left: 100vw;
  -webkit-animation: plane1 40s infinite linear;
  animation: plane1 40s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.planeta-fondo {
  position: absolute;
  width: 150vh;
  height: 150vh;
  left: 10%;
  top: 60vh;
  border-radius: 50%;
  background: linear-gradient(#E41655, transparent 20%);
  box-shadow: 0px -50px 150px #E41655, 0px -50px 170px orange;
}

.planeta-fondo:before {
  position: absolute;
  content: "";
  width: 30vh;
  height: 30vh;
  top: -60vh;
  left: -15%;
  border-radius: 50%;
  background: linear-gradient(#CF56A1, transparent 70%);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0px -20px 100px #CF56A1, 0px -80px 150px #66D37E;
}

.planeta-fondo:after {
  position: absolute;
  content: "";
  width: 50vh;
  height: 50vh;
  top: -40vh;
  right: -25%;
  border-radius: 50%;
  background: linear-gradient(#14FFEC, transparent 70%);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 0px -30px 130px #14FFEC, 0px -70px 130px crimson;
}

.planeta-fondo p {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -60vh;
  left: 60%;
  background-color: transparent;
  box-shadow: 0px 100px 100px #1A554F;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.estrellas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.estrellas p {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  opacity: .1;
}

.estrellas p:nth-child(odd) {
  -webkit-animation: 2s inpares infinite;
  animation: 2s inpares infinite;
}

.estrellas p:nth-child(even) {
  -webkit-animation: 2s pares infinite;
  animation: 2s pares infinite;
}

.contenedor-cometa {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: 250;
  overflow: hidden;
}

.contenedor-cometa__item {
  width: 300px;
  position: absolute;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: linear-gradient(90deg, #2F1B41 70%, transparent);
}

.contenedor-cometa__item p:nth-child(1) {
  width: 250px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: linear-gradient(90deg, #f9026d 20%, transparent 70%);
}

.contenedor-cometa__item p:nth-child(2) {
  width: 25px;
  height: 24px;
  top: 12px;
  left: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: #FAEE1C;
}

.contenedor-cometa__item p:nth-child(2):after {
  content: "";
  position: absolute;
  width: 30px;
  top: 2px;
  left: 15px;
  border-left: 50px #FAEE1C solid;
  border-right: 10px transparent solid;
  border-top: 10px transparent solid;
  border-bottom: 10px transparent solid;
  border-radius: 5px;
}

.contenedor-cometa__item:nth-child(1) {
  top: -20vh;
  left: 5vw;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: 7s cometa1 infinite;
  animation: 7s cometa1 infinite;
}

.contenedor-cometa__item:nth-child(2) {
  top: 50vh;
  right: -20vw;
  -webkit-transform: scale(0.7) rotate(-45deg);
  -ms-transform: scale(0.7) rotate(-45deg);
  transform: scale(0.7) rotate(-45deg);
  -webkit-animation: 3s cometa2 infinite;
  animation: 3s cometa2 infinite;
}

.contenedor-cometa__item:nth-child(3) {
  top: -20vh;
  left: 75vw;
  -webkit-transform: scale(1.2) rotate(-45deg);
  -ms-transform: scale(1.2) rotate(-45deg);
  transform: scale(1.2) rotate(-45deg);
  -webkit-animation: 10s cometa3 infinite;
  animation: 10s cometa3 infinite;
}

.contenedor-ene {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.contenedor-fantasma {
  position: absolute;
  z-index: 200;
  width: 300px;
  height: 130px;
  top: calc(50vh - 70px);
  left: calc(50vw - 150px);
  transition: all .5s;
}

.contenedor-fantasma__item {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
}

.contenedor-fantasma__item:nth-child(1) {
  width: 145px;
  height: 130px;
  top: 0px;
  left: 27px;
  background-color: #5048A0;
  box-shadow: 2px 0px 10px #5048A0, -5px 0px 10px #5b2096;
}

.contenedor-fantasma__item:nth-child(1) p {
  position: absolute;
  width: 50px;
  height: 32.5px;
  left: 120px;
  border-radius: 15px;
  background-color: #5048A0;
  box-shadow: 2px 0px 10px #5048A0;
  opacity: .5;
  -webkit-animation: 4s cola infinite;
  animation: 4s cola infinite;
}

.contenedor-fantasma__item:nth-child(1) p:nth-child(2) {
  top: 32.5px;
  -webkit-animation: 2s cola infinite;
  animation: 2s cola infinite;
}

.contenedor-fantasma__item:nth-child(1) p:nth-child(3) {
  top: 65px;
  -webkit-animation: 3s cola infinite;
  animation: 3s cola infinite;
}

.contenedor-fantasma__item:nth-child(1) p:nth-child(4) {
  top: 97.5px;
  -webkit-animation: 5s cola infinite;
  animation: 5s cola infinite;
}

.contenedor-fantasma__item:nth-child(2) {
  width: 130px;
  height: 120px;
  top: 5px;
  left: 35px;
  background-color: #1FAD9F;
  box-shadow: 0px 0px 15px #85EDE8;
}

.contenedor-fantasma__item:nth-child(2) p {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 120px;
  border-radius: 15px;
  background-color: #1FAD9F;
  box-shadow: 2px 0px 10px #5048A0;
  opacity: .3;
  -webkit-animation: 3s cola infinite;
  animation: 3s cola infinite;
}

.contenedor-fantasma__item:nth-child(2) p:nth-child(2) {
  top: 45px;
  -webkit-animation: 2s cola infinite;
  animation: 2s cola infinite;
}

.contenedor-fantasma__item:nth-child(2) p:nth-child(3) {
  bottom: 0px;
  -webkit-animation: 1s cola infinite;
  animation: 1s cola infinite;
}

.contenedor-fantasma__item:nth-child(3) {
  width: 120px;
  height: 110px;
  top: 10px;
  left: 40px;
  background-color: #85EDE8;
  box-shadow: 0px 0px 15px #B2EBF9;
}

.contenedor-fantasma__item:nth-child(3) p {
  position: absolute;
  width: 30px;
  height: 10px;
  left: 110px;
  background-color: #85EDE8;
  border-radius: 5px;
  -webkit-animation: 2s cola-azul infinite;
  animation: 2s cola-azul infinite;
}

.contenedor-fantasma__item:nth-child(3) p:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #85EDE8;
  border-radius: 50%;
  -webkit-animation: 1.8s bolitas infinite linear;
  animation: 1.8s bolitas infinite linear;
}

.contenedor-fantasma__item:nth-child(3) p:nth-child(2) {
  bottom: 0px;
  -webkit-animation: 3s cola-azul infinite;
  animation: 3s cola-azul infinite;
}

.contenedor-fantasma__item:nth-child(3) p:nth-child(2):after {
  -webkit-animation: 2.4s bolitas infinite linear;
  animation: 2.4s bolitas infinite linear;
}

.contenedor-fantasma__item:nth-child(4) {
  width: 120px;
  height: 90px;
  top: 20px;
  left: 50px;
  background-color: white;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.contenedor-fantasma__item:nth-child(4) > p {
  position: absolute;
  left: 110px;
  width: 30px;
  height: 15px;
  background-color: white;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-animation: 3s colitas infinite;
  animation: 3s colitas infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation: 1.7s bolitas2 infinite linear;
  animation: 1.7s bolitas2 infinite linear;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(1):after {
  content: "";
  position: absolute;
  width: 50px;
  left: 5px;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg, #59569D 40%, transparent);
  top: 15px;
  -webkit-animation: 2s colitas2 infinite;
  animation: 2s colitas2 infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(2) {
  top: 25px;
  -webkit-animation: 5s colitas infinite;
  animation: 5s colitas infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(2):after {
  content: "";
  position: absolute;
  width: 50px;
  left: 5px;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg, #59569D 40%, transparent);
  top: 15px;
  -webkit-animation: 1s colitas2 infinite;
  animation: 1s colitas2 infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(3) {
  top: 50px;
  -webkit-animation: 2s colitas infinite;
  animation: 2s colitas infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(3):before {
  -webkit-animation: 1.2s bolitas2 infinite linear;
  animation: 1.2s bolitas2 infinite linear;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(3):after {
  content: "";
  position: absolute;
  width: 50px;
  left: 5px;
  height: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg, #59569D 40%, transparent);
  top: 15px;
  -webkit-animation: 1.5s colitas2 infinite;
  animation: 1.5s colitas2 infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(4) {
  top: 75px;
  -webkit-animation: 4s colitas infinite;
  animation: 4s colitas infinite;
}

.contenedor-fantasma__item:nth-child(4) > p:nth-child(4):before {
  -webkit-animation: 2.2s bolitas2 infinite linear;
  animation: 2.2s bolitas2 infinite linear;
}

.contenedor-fantasma__item:nth-child(4) .rostro {
  position: absolute;
  width: 35px;
  height: 30px;
  left: 25px;
  top: 30px;
}

.contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(1), .contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4A4A4A;
  position: absolute;
}

.contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(1):after, .contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(2):after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #85EDE8;
  top: 12px;
}

.contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(1):after {
  left: -7px;
}

.contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(2) {
  right: 0px;
}

.contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(2):after {
  right: -7px;
}

.contenedor-fantasma__item:nth-child(4) .rostro p:nth-child(3) {
  position: absolute;
  width: 25px;
  height: 7px;
  background-color: #4A4A4A;
  top: 20px;
  left: 5px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom: 4px solid #4A4A4A;
}

.malo {
  position: absolute;
  width: 100px;
  height: 150px;
  left: -500px;
  z-index: 200;
  -webkit-animation: infinite linear;
  animation: infinite linear;
}

.malo .cara {
  position: absolute;
  width: 100px;
  height: 100px;
  border-top-right-radius: 77px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 80px;
  background: aliceblue;
}

.malo .cara p {
  width: 16px;
  height: 26px;
  background-color: #4A4A4A;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 70px;
  z-index: 10;
}

.malo .cara p:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: lightpink;
  border-radius: 3px;
  top: 30px;
}

.malo .cara p:nth-child(1) {
  -webkit-transform: rotate(-25deg) scale(0.7);
  -ms-transform: rotate(-25deg) scale(0.7);
  transform: rotate(-25deg) scale(0.7);
}

.malo .cara p:nth-child(2) {
  left: 50px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.malo .cuerpo {
  position: absolute;
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 358px;
  border-top-left-radius: 200px;
  background-color: aliceblue;
  top: 48px;
}

.malo .cuerpo p {
  position: absolute;
  top: 30px;
  width: 15px;
  height: 25px;
  background-color: #4A4A4A;
  border-radius: 50%;
  right: 25px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.malo .cola {
  position: absolute;
  width: 40px;
  height: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: aliceblue;
  bottom: 2px;
  left: -20px;
}

.malo .cola:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aliceblue;
}

.malo .cola:nth-child(4) {
  bottom: 35px;
}

@-webkit-keyframes cometa3 {
  0% {
    left: 75vw;
    top: -20vh;
  }
  50%, 100% {
    left: 0vw;
    top: 120vh;
  }
}

@keyframes cometa3 {
  0% {
    left: 75vw;
    top: -20vh;
  }
  50%, 100% {
    left: 0vw;
    top: 120vh;
  }
}

@-webkit-keyframes cometa1 {
  0% {
    left: 5vw;
    top: -20vh;
  }
  50%, 100% {
    left: -20vw;
    top: 40vh;
  }
}

@keyframes cometa1 {
  0% {
    left: 5vw;
    top: -20vh;
  }
  50%, 100% {
    left: -20vw;
    top: 40vh;
  }
}

@-webkit-keyframes cometa2 {
  0% {
    right: -20vw;
    top: 50vh;
  }
  50%, 100% {
    right: 10vw;
    top: 110vh;
  }
}

@keyframes cometa2 {
  0% {
    right: -20vw;
    top: 50vh;
  }
  50%, 100% {
    right: 10vw;
    top: 110vh;
  }
}

@-webkit-keyframes colitas {
  0% {
    width: 30px;
  }
  70% {
    width: 60px;
  }
}

@keyframes colitas {
  0% {
    width: 30px;
  }
  70% {
    width: 60px;
  }
}

@-webkit-keyframes colitas2 {
  0% {
    left: -10px;
  }
  100% {
    left: 5px;
  }
}

@keyframes colitas2 {
  0% {
    left: -10px;
  }
  100% {
    left: 5px;
  }
}

@-webkit-keyframes bolitas {
  0% {
    right: 15px;
  }
  80% {
    opacity: 1;
  }
  100% {
    right: -50px;
    opacity: 0;
  }
}

@keyframes bolitas {
  0% {
    right: 15px;
  }
  80% {
    opacity: 1;
  }
  100% {
    right: -50px;
    opacity: 0;
  }
}

@-webkit-keyframes bolitas2 {
  0% {
    right: -10px;
  }
  80% {
    opacity: 1;
  }
  100% {
    right: -60px;
    opacity: 0;
  }
}

@keyframes bolitas2 {
  0% {
    right: -10px;
  }
  80% {
    opacity: 1;
  }
  100% {
    right: -60px;
    opacity: 0;
  }
}

@-webkit-keyframes cola-azul {
  0% {
    width: 30px;
  }
  70% {
    width: 55px;
  }
}

@keyframes cola-azul {
  0% {
    width: 30px;
  }
  70% {
    width: 55px;
  }
}

@-webkit-keyframes cola {
  0% {
    width: 50px;
  }
  70% {
    width: 140px;
  }
}

@keyframes cola {
  0% {
    width: 50px;
  }
  70% {
    width: 140px;
  }
}

@-webkit-keyframes pares {
  75% {
    width: 6px;
    height: 6px;
    opacity: 1;
  }
}

@keyframes pares {
  75% {
    width: 6px;
    height: 6px;
    opacity: 1;
  }
}

@-webkit-keyframes inpares {
  25% {
    width: 8px;
    height: 8px;
    opacity: 1;
  }
}

@keyframes inpares {
  25% {
    width: 8px;
    height: 8px;
    opacity: 1;
  }
}

@-webkit-keyframes agrandar {
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes agrandar {
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes plane1 {
  0% {
    left: -100vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes plane1 {
  0% {
    left: -100vw;
  }
  100% {
    left: 100vw;
  }
}

@-webkit-keyframes enemigo {
  0% {
    left: -500px;
  }
  100% {
    left: 120vw;
  }
}

@keyframes enemigo {
  0% {
    left: -500px;
  }
  100% {
    left: 120vw;
  }
}

@-webkit-keyframes flechas {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes flechas {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .menu, .submenu, .contenedor__planeta__item {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  .vida {
    -webkit-transform: scale(0.3) translateX(-480px);
    -ms-transform: scale(0.3) translateX(-480px);
    transform: scale(0.3) translateX(-480px);
  }
  .contenedor-fantasma, .contenedor-ene__enemigo {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
